html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Francois One', sans-serif;
}

/* -- NAVBAR -- */
.navbar {
	font-family: 'Francois One', sans-serif;
}

.navbar-nav {
	font-size: 1.125em;
}

/* -- CONTENT -- */
.page-header {
	margin-top: 6em;
}

.page-header h1 {
	color: #910000;
}